body {
  font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
*{
  outline: none;
}
.tvue-canvas {
  display: none;
}

.tvue-ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.tvue--disabled{
  color:#ccc;
}
.tvue--detail{
  .hover-row td{
    background-color: #fff !important;
  }
  .tvue-group__header{
    border-bottom:1px solid #eee;
    padding-left: 10px;
  }
  .el-collapse-item__header{
    margin-bottom: 0;
  }
  .el-input.is-disabled .el-input__inner,.el-textarea.is-disabled .el-textarea__inner,.el-range-editor.is-disabled,.el-range-editor.is-disabled input{
    color: #606266;
    background-color: #fff;
    padding-left: 0;
  }
  .el-input-number__decrease,.el-input-number__increase{
    display: none;
  }
  .el-input-group__append, .el-input-group__prepend{
    background-color: transparent;
    border:none;
  }
  .el-input__suffix,.el-input__prefix{
    display: none;
  }

  .el-input__inner,.el-textarea__inner{
    border: none;
    &::-webkit-input-placeholder {
      color:transparent !important;
    }
    &::-moz-placeholder {
      color: transparent !important;
    }
    &::-moz-placeholder {
      color:transparent !important;
    }
    &::-ms-input-placeholder {
      color: transparent !important;
    }
    &::-ms-input-placeholder {
      color:transparent !important;
    }
  }
  .tvue-checkbox__all{
    display: none;
  }
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner{
    background-color: #409EFF;
    border-color: #409EFF;
  }
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after{
    border-color:#fff;
  }
  .el-radio__input.is-disabled.is-checked .el-radio__inner{
    background-color:#409EFF;
    border-color: #409EFF;
  }
  .el-radio__input.is-disabled.is-checked .el-radio__inner::after{
    background-color:#fff;
  }
  .el-checkbox__input.is-disabled+span.el-checkbox__label,
  .el-radio__input.is-disabled+span.el-radio__label{
    color: #606266;
  }
  .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before{
    display: none;
  }
  .el-row{
    border-top:1px solid #ebeef5;
    border-left:1px solid #ebeef5;
  }
  .el-col{
    margin: 0 !important;
    padding:0 !important;
    border-bottom:1px solid #ebeef5;
    border-right:1px solid #ebeef5;
  }
  .el-form-item--medium.el-form-item,.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
    margin:0;
    background: #fafafa;
  }
  .el-form-item__label,.el-form-item__content{
    padding: 2px 0;
  }
  .el-form-item__label{
    padding-right: 20px;
    color: #909399;
    box-sizing: border-box;
  }
  .el-tag{
    margin-left: 0 !important;
    margin-right: 6px !important;
  }
  .tvue-crud{
    .el-form-item__content{
      border:none;
    }
  }
  .el-form-item__content{
   border-left:1px solid #ebeef5;
   padding-left: 20px;
   box-sizing: border-box;
   background-color: #fff;
  }
  // .el-button{
  //   display: none !important;
  // }
  .el-upload.el-upload--picture-card,
  .el-upload.el-upload--text,
  .el-icon.tvue-upload__avatar,
  .el-icon-plus.tvue-upload__avatar,
  .el-upload__tip{
    display: none;
  }
  .tvue-upload--picture-img{
    .el-upload.el-upload--text{
      display: inline-block;
    }
  }
  &__column{
    .el-form-item{
      background-color: #fff;
    }
    .el-form-item__label{
      padding-right: 12px;
    }
    .el-form-item__content{
      padding-left: 0;
      border-left: none;
    }
   }
}

.tvue-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 20px 20px, 20px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 0), linear-gradient(90deg, rgba(0, 0, 0, .1) 1px, transparent 0);
}

.tvue-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55, 55, 55, .6);
  height: 100%;
  z-index: 1000;
}

.tvue--card {
  box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.tvue-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  svg,i{
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
  &--small{
    svg,i{
      font-size: 15px;
      width: 15px;
      height: 15px;
    }
  }
}
.tvue-dialog {
  overflow: visible;
  .el-dialog{
    min-height: 180px;
    display: flex;
    flex-direction: column;
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%,0);
    border-radius: 2px;
    max-height:calc(100% - 200px);
    max-width:calc(100% - 100px);
  }
  .el-dialog__header{
    padding: 16px 24px;
    min-height: 20px;
    border-bottom: 1px solid #f0f0f0;
  }
  .el-dialog__title,.el-drawer__header{
    color: rgba(0,0,0,.85);
    font-weight: 500;
    word-wrap: break-word;
  }
  .el-dialog__body{
    padding: 30px 20px 20px 20px;
    margin-bottom: 50px;
  }
  .el-dialog .el-dialog__body{
    flex:1;
    overflow: hidden;
    overflow-y:auto;
  }
  .el-drawer{
    position:absolute;
    right: 0;
    top:0;
    display: flex;
    flex-direction: column;
  }
  .el-drawer__header{
    margin: 0;
    min-height: 20px;
    padding: 16px 10px 16px 24px;
    border-bottom: 1px solid #f0f0f0;
  }
  .el-drawer,.el-drawer__body{
    flex:1;
    overflow:auto;
  }
  &__footer{
    display: block;
    padding: 10px 16px;
    box-sizing: border-box;
    border-top: 1px solid #f0f0f0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom:0;
    background-color: #fff;
    text-align: right;
    &--left{
      text-align: left;
    }
    &--center{
      text-align: center;
    }
  }
  &--fullscreen{
    .el-dialog{
      left:0;
      top:0;
      transform:translate(0,0);
      width: 100% !important;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &--top{
    .el-dialog{
      top:15%;
    }
  }
  &--none{
    .el-dialog__body{
      margin-bottom:0;
    }
  }
}

.tvue-queue--block {
  display: inline-block;
}

.tvue-opacity {
  opacity: 0
}

.tvue-opacity--active {
  opacity: 1
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*盒子模型*/
.content-box {
  box-sizing: content-box;
}

.border-box {
  box-sizing: border-box;
}


/* flex布局 */
.d-flex {
  display: flex
}

.flex-row {
  flex-direction: row;
}

.j-start {
  justify-content: flex-start;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.j-sb {
  justify-content: space-between;
}

.j-sa {
  justify-content: space-around;
}

.flex-column {
  flex-direction: column;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}

.a-end {
  align-items: flex-end;
}

.a-stretch {
  align-items: stretch;
}

.a-self-start {
  align-self: flex-start;
}

.a-self-end {
  align-self: flex-end;
}

.flex-shrink {
  flex-shrink: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

/*定位属性*/

.p-fixed {
  position: fixed !important;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.d-none {
  display: none;
}

.o-hidden {
  overflow: hidden;
}

.o-scroll {
  overflow: scroll;
}

.o-x-scroll {
  overflow-x: scroll;
}

.o-y-scroll {
  overflow-y: scroll;
}

.o-auto {
  overflow: auto;
}

/*区块属性*/
.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.t-justify {
  text-align: justify;
}
.d-block {
  display: block;
}

/*背景属性*/

.bg-norepeat {
  background-repeat: no-repeat;
}
.bg-repeat {
  background-repeat: repeat;
}
.bg-repeat-x {
  background-repeat: repeat-x;
}
.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-a-flex {
  background-attachment: fixed;
}

.bg-a-scroll {
  background-attachment: scroll;
}

.bg-p-top {
  background-position: top;
}
.bg-p-right {
  background-position: right;
}
.bg-p-bottom {
  background-position: bottom;
}
.bg-p-left {
  background-position: left;
}

.bg-p-center {
  background-position: center;
}


/*字体属性*/
@for $i from 0 through 999 {
  .font-size-#{$i} {
    font-size: #{$i}px !important;
  }
  .l-height-#{$i} {
    line-height: #{$i}px;
  }
  .font-weight-#{$i} {
    font-weight: #{$i}px !important;
  }
}

.font-oblique {
  font-style: oblique;
}

.font-italic {
  font-style: italic;
}

.font-normal {
  font-style: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-lighter {
  font-weight: lighter;
}

.font-weight-normal {
  font-weight: normal;
}

/*边框属性*/
.border-dotted {
  border-style: dotted;
}

.border-dashed {
  border-style: dashed;
}

.border-solid {
  border-style: solid;
}

.border-double {
  border-style: double;
}

.border-groove {
  border-style: groove;
}

@for $i from 0 through 999 {
  .border-width-#{$i} {
    border-width: #{$i}px;
  }
  .border-radius-#{$i} {
    border-radius: #{$i}px;
  }
}

/* 外边距、内边距全局样式
------------------------------- */
//noinspection CssInvalidAtRule
@for $i from 0 through 999 {
  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }
  .mr-#{$i} {
    margin-right: #{$i}px !important;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .ml-#{$i} {
    margin-left: #{$i}px !important;
  }
  .pt-#{$i} {
    padding-top: #{$i}px !important;
  }
  .pr-#{$i} {
    padding-right: #{$i}px !important;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .pl-#{$i} {
    padding-left: #{$i}px !important;
  }
  .top-#{$i} {
    top: #{$i}px !important;
  }
  .left-#{$i} {
    left: #{$i}px !important;
  }
  .right-#{$i} {
    right: #{$i}px !important;
  }
  .bottom-#{$i} {
    bottom: #{$i}px !important;
  }
}
