@import 'license.scss';
@import 'pay.scss';
@import 'team.scss';
@import 'suporrt.scss';
@import 'vip.scss';

* {
  font-family: "Microsoft YaHei"
}

.sidebar-links {
  padding-top: 0 !important;
  margin-top: 0;
}

h2 {
  border: none !important;
}

.home .hero {
  img {
    max-height: 180px !important;
  }

  h1 {
    padding-left: 0.8rem;
    font-size: 3.6rem !important;
  }

  .description {
    padding-left: 0.8rem;
    max-width: initial !important;
    color: #6a8bad !important;
  }

  .action-button {
    border-radius: 0.5rem !important;
  }
}

.theme-container {
  padding-bottom: 30px;
}

.page .page-title,
.page-meta,
.page-nav {
  max-width: 100% !important
}

.theme-default-content:not(.custom) {
  max-width: 100% !important
}

.visitor-info {
  display: none !important
}

.demo-block .meta {
  background-color: transparent !important;
}

.pswp--open {
  display: none !important;
}

.theme-default-content {
  transform: inherit !important;
  transition: inherit !important;

  img {
    width: 200px;
  }
}

.warning-row {
  background-color: #F56C6C !important;
  color: #fff;
}

.success-row {
  background-color: #67C23A !important;
  color: #fff;
}

.warning-row.hover-row td,
.success-row.hover-row td {
  background-color: initial !important;
}

.imgbox {
  position: absolute;
  width: 80px;
  right: 20px;
  bottom: 60px;
}

.imgbox img {
  width: 100%;
}

.imgbox .tvue-crud__grid__label {
  display: none;
}

.popperClass {

  .el-cascader-node,
  .el-select-dropdown__item,
  .available,
  .el-time-spinner__item,
  .el-tree-node__content {
    background-color: rgba(0, 0, 0, .2);
  }
}

.wwads-cn {
  position: fixed !important;
  right: 5px;
  bottom: 40px;
  z-index: 1024;
  max-width: 180px;
}

.tvue-calendar {
  width: 850px;

  &__header {
    margin-bottom: 10px;

    .el-select {
      margin-right: 10px;
    }
  }

  &__body {
    padding: 20px 5px;
    border: 2px solid #409eff;
    border-radius: 5px;
  }

  .el-calendar-table {
    .el-calendar-day:hover {
      background-color: transparent;
    }

    td.is-selected {
      background-color: transparent;
    }

    tr td {
      border: none;
    }

    .el-calendar-day {
      padding: 2px;
    }

    .is-today {
      .item {
        border: 2px solid #409eff;

        .title {
          color: #409eff;
        }

        .subtitle {
          color: #409eff;
        }
      }
    }

    .item {
      box-sizing: border-box;
      border: 2px solid #fff;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      line-height: 25px;
      border-radius: 5px;

      &:hover {
        border: 2px solid #bdbfc8;
      }
    }

    .tip {
      position: absolute;
      left: 5px;
      top: 0px;
    }

    .title {
      font-size: 24px;
    }

    .subtitle {
      margin-top: 2px;
      color: #999;
    }

    .is-xiu {
      color: #f73131;
      background-color: #fde3e4;

      &:hover {
        border: 2px solid #f38686;
      }

      &.is-select {
        color: #f73131;
        border: 2px solid #f38686;
      }

      .subtitle {
        color: #f73131;
        font-weight: bold;
      }
    }

    .is-select {
      color: #333;
      border: 2px solid #bdbfc8;
    }
  }
}
