table
  width 100%
  border-collapse inherit
  margin 0
  display: table
  overflow-x: auto

tr
  border-top 1px solid #dfe2e5

  &:nth-child(2n)
    background-color #fff

th, td
  border none
  text-align left
  border-bottom 1px solid #EBEEF5
