.query {
  padding-top: 150px;
  min-height: 500px;
  height: auto;
  &__title {
    width: 100%;
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    img {
      margin-right: 5px;
      vertical-align: bottom;
    }
  }
  &__search {
    width: 600px;
    margin: 60px auto 0 auto;
  }
  &__content {
    width: 1200px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  &__text {
    box-sizing: border-box;
    margin: 15px 10px 0 10px;
    width: 48%;
    p {
      line-height: 30px;
    }
  }
}