.support {
  background-color: #fff;
  &-content {
    position: relative;
    padding: 2.2em 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
  }
  h1,
  h2 {
    margin: 0 0 1em;
  }
  p {
    margin-bottom: 30px;
    line-height: 25px;
  }
  ul {
    margin-bottom: 30px;
    line-height: 25px;
    padding-left: 20px;
  }
  &-box {
    margin-bottom: 90px;
  }
}