.team {
  min-height: 600px;
  background-color: #fff;
  &-content {
    position: relative;
    padding: 2.2em 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
  }
  h1,
  h2 {
    margin-bottom: 22px;
    letter-spacing: 1px;
  }
  p {
    line-height: 25px;
    margin-bottom: 6px;
  }
  span {
    margin-right: 15px;
    font-weight: 600;
  }
  &-item {
    padding: 35px 0;
    border-bottom: 1px dotted #ddd;
    &:last-child {
      border-bottom: none;
    }
  }
}